<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Metadata Info</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<div id="container">
    <h1>
        Metadata Info
    </h1>
</div>

<div class="w3-responsive">
    <table class="w3-table-all">
        <tr>
            <th>name</th>
            <th>version</th>
            <th>input data type</th>
            <th>input data name</th>
            <th>output data type</th>
            <th>output data name</th>
        </tr>
        <tr th:each="obj: ${metadataInfo}">
            <td th:text="${obj.modelSpec.name}"></td>
            <td th:text="${obj.modelSpec.version}"></td>
            <td th:text="${obj.metadata.signature_def.signatureDef.serving_default.inputs.data.dtype}"></td>
            <td th:text="${obj.metadata.signature_def.signatureDef.serving_default.inputs.data.name}"></td>
            <td th:text="${obj.metadata.signature_def.signatureDef.serving_default.outputs.detection_out.dtype}"></td>
            <td th:text="${obj.metadata.signature_def.signatureDef.serving_default.outputs.detection_out.name}"></td>
        </tr>
    </table>
</div>
</body>
</html>